In [2]:
import pandas as pd

annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")
cleanAnnoDf = annoDf[[
    'Long.',
    'Lat.',
    'Skeletal element',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]',
    'Age at death, Morphological sex from physical anthropology',
    'Group ID',
    'Locality',
    'Political Entity',
    'Master ID'
]]
cleanAnnoDf = cleanAnnoDf.rename(columns={
    'Long.': 'Longitude',
    'Lat.': 'Latitude',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'Mean Date',
    'Age at death, Morphological sex from physical anthropology': 'Age at death',
    })

cleanAnnoDf.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15448\243502521.py:3: DtypeWarning: Columns (10,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")

,Longitude,Latitude,Skeletal element,Mean Date,Age at death,Group ID,Locality,Political Entity,Master ID
0,6.4,49.81,tooth,8025,34-47 yrs,Luxembourg_Mesolithic.AG,Loschbour (Echternach),Luxembourg,Loschbour
1,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,Kou01
2,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,Kou03
3,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,Log02
4,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,Log04

In [4]:
snpChoiceDf = pd.read_csv('./snpChoice.tsv',sep='\t')
for i in range(5):
    snpName = snpChoiceDf['0'][i]
    snpNums = [n for n in snpChoiceDf['8'][i]]
    cleanAnnoDf[snpName]=pd.Series(snpNums)

cleanAnnoDf.head(5)
cleanAnnoDf.shape[0]

17629

In [5]:
df_duplicates_removed=cleanAnnoDf.drop_duplicates(subset='Master ID',keep='first')
df_duplicates_removed.shape[0]

16655

In [7]:
df_duplicates_removed.to_csv('duplicates_removed.csv',index=False)

In [8]:
json_string=df_duplicates_removed.to_json(orient='records',lines=True)
json_file='duplicates_removed.json'
with open(json_file,'w') as f:
    f.write(json_string)

In [ ]:
cleanAnnoDf.to_csv('ancientHumanData.csv', index=False)

In [ ]:
json_string=cleanAnnoDf.to_json(orient='records',lines=True)
json_file='ancientHumanData1.json'
with open(json_file,'w') as f:
    f.write(json_string)