In [1]:
import pandas as pd

annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")
cleanAnnoDf = annoDf[[
    'Long.',
    'Lat.',
    'Skeletal element',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]',
    'Age at death, Morphological sex from physical anthropology',
    'Group ID',
    'Locality',
    'Political Entity'
]]
cleanAnnoDf = cleanAnnoDf.rename(columns={
    'Long.': 'Longitude',
    'Lat.': 'Latitude',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'Mean Date',
    'Age at death, Morphological sex from physical anthropology': 'Age at death',
    })

cleanAnnoDf.head()

C:\Users\User\AppData\Local\Temp\ipykernel_15076\198790208.py:3: DtypeWarning: Columns (10,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")

,Longitude,Latitude,Skeletal element,Mean Date,Age at death,Group ID,Locality,Political Entity
0,6.4,49.81,tooth,8025,34-47 yrs,Luxembourg_Mesolithic.AG,Loschbour (Echternach),Luxembourg
1,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece
2,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece
3,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece
4,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece

In [2]:
snpChoiceDf = pd.read_csv('./snpChoice.tsv',sep='\t')
for i in range(5):
    snpName = snpChoiceDf['0'][i]
    snpNums = [n for n in snpChoiceDf['8'][i]]
    cleanAnnoDf[snpName]=pd.Series(snpNums)

cleanAnnoDf.head(5)

,Longitude,Latitude,Skeletal element,Mean Date,Age at death,Group ID,Locality,Political Entity,rs4954490,rs41525747,rs4988235,rs41380347,rs145946881
0,6.4,49.81,tooth,8025,34-47 yrs,Luxembourg_Mesolithic.AG,Loschbour (Echternach),Luxembourg,2,2,2,2,2
1,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
2,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
3,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2
4,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2

In [3]:
cleanAnnoDf.to_csv('ancientHumanData.csv', index=False)

In [ ]:
json_string=cleanAnnoDf.to_json(orient='records',lines=True)
json_file='ancientHumanData1.json'
with open(json_file,'w') as f:
    f.write(json_string)