In [1]:
import pandas as pd

annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")
cleanAnnoDf = annoDf[[
    'Long.',
    'Lat.',
    'Skeletal element',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]',
    'Age at death, Morphological sex from physical anthropology',
    'Group ID',
    'Locality',
    'Political Entity'
]]
cleanAnnoDf = cleanAnnoDf.rename(columns={
    'Long.': 'Longitude',
    'Lat.': 'Latitude',
    'Date mean in BP in years before 1950 CE [OxCal mu for a direct radiocarbon date, and average of range for a contextual date]': 'Mean Date',
    'Age at death, Morphological sex from physical anthropology': 'Age at death',
    })

cleanAnnoDf.shape[0]

C:\Users\User\AppData\Local\Temp\ipykernel_14724\3940211548.py:3: DtypeWarning: Columns (10,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  annoDf=pd.read_csv('./v62.0_1240k_public.tsv',sep="\t")

17629

In [44]:
df= pd.read_csv('./snpChoice.tsv',sep='\t')
for i in range(5):
    cleanAnnoDf[df['0'][i]]=pd.Series([n for n in df['8'][i]])
cleanAnnoDf.head(5)

,Longitude,Latitude,Skeletal element,Mean Date,Age at death,Group ID,Locality,Political Entity,rs4954490,rs41525747,rs4988235,rs41380347,rs145946881
0,6.4,49.81,tooth,8025,34-47 yrs,Luxembourg_Mesolithic.AG,Loschbour (Echternach),Luxembourg,2,2,2,2,2
1,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
2,25.60652,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
3,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2
4,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2

In [ ]:
cleanAnnoDf['Longitude']=pd.to_numeric(cleanAnnoDf['Longitude'],errors='coerce')
cleanAnnoDf['Latitude']=pd.to_numeric(cleanAnnoDf['Latitude'],errors='coerce')
cleanAnnoDf['rs4954490']=cleanAnnoDf['rs4954490'].astype(int)
cleanAnnoDf['rs41525747']=cleanAnnoDf['rs41525747'].astype(int)
cleanAnnoDf['rs4988235']=cleanAnnoDf['rs4988235'].astype(int)
cleanAnnoDf['rs41380347']=cleanAnnoDf['rs41380347'].astype(int)
cleanAnnoDf['rs145946881']=cleanAnnoDf['rs145946881'].astype(int)

cleanAnnoDf.head(20)

,Longitude,Latitude,Skeletal element,Mean Date,Age at death,Group ID,Locality,Political Entity,rs4954490,rs41525747,rs4988235,rs41380347,rs145946881
0,6.400000,49.810000,tooth,8025,34-47 yrs,Luxembourg_Mesolithic.AG,Loschbour (Echternach),Luxembourg,2,2,2,2,2
1,25.606520,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
2,25.606520,36.937529,..,4250,..,Greece_Koufonisi_Cycladic_EBA.SG,"Potamia (Cyclades, Epano Koufonisi)",Greece,2,2,2,2,2
3,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2
4,21.823641,39.980392,..,4250,..,Greece_Logkas_MBA.SG,"Elati-Logkas site (Kozani, Elati)",Greece,2,2,2,2,2
5,23.626147,38.498226,..,4250,..,Greece_Manika_EBA.SG,"Manika (Euboea island, north of Chalkis)",Greece,2,2,2,2,2
6,26.114980,35.197343,..,4250,..,Greece_Crete_Kephala_Petras.SG,"Kephala Petras Siteias (eastern Crete, Petras)",Greece,2,2,0,2,2
7,39.752579,38.215301,..,8396,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
8,39.752579,38.215301,..,9375,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,2,2,2,9
9,39.752579,38.215301,..,8641,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
10,39.752579,38.215301,..,8369,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
11,39.752579,38.215301,..,10100,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
12,39.752579,38.215301,..,8591,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,2,2,2,9
13,39.752579,38.215301,..,8908,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
14,39.752579,38.215301,..,10100,..,Turkey_Southeast_Cayonu_PPN_lc.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
15,39.752579,38.215301,..,8591,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
16,39.752579,38.215301,..,10100,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
17,39.752579,38.215301,..,7303,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
18,39.752579,38.215301,..,10100,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9
19,39.752579,38.215301,..,10100,..,Turkey_Southeast_Cayonu_PPN.SG,"Boncuklu (Diyarbakır, Ergani)",Turkey,9,9,9,9,9